@model IEnumerable<Gasto>
<div class="page">

    <h1 class="page-header text-center">Listado de Gastos <i class="fas fa-comment-money text-primary"></i> </h1>

    <div class="breadcrumb">
        <a onclick="showModal('@Url.Action("AddOrEdit","Gastos",new { Id = 0 },Context.Request.Scheme)', 'Nuevo Gasto')" class="btn btn-primary text-white">Agregar nuevo</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.Descripcion)</th>
                <th>@Html.DisplayNameFor(x => x.Fecha)</th>
                <th>@Html.DisplayNameFor(x => x.Monto)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Descripcion</td>
                        <td>@item.Fecha</td>
                        <td>@item.Monto</td>
                        <td>Opciones...</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>